* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: 
  ". div .";
}

div {
  display: grid;
  grid-area: div;
  grid-template-rows: max-content;
  row-gap: 3em;
  align-items: start;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-areas: 
  "list . selected";
}

ul {
  display: grid;
  row-gap: 0.25em;
  list-style: none;
}

li {
  padding: 0.5em;
  border: thin solid #214FBA;
}

a {
  color: black;
  text-decoration: none;
}

#party-list {
  display: grid;
  grid-area: list;
  row-gap: 2em;
}

#selected {
  grid-area: selected;
}

#selected,
#party-list {
  text-align: center;
}